<h2>New game</h2>
<br>
<p>
<ul class="list-inline px-2">
  <% @letters.each do |letter| %>
    <li class="list-inline-item btn-primary"> <%= letter %></li>
  <% end %>
</ul>
</p>
<br>

<form action="/score">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-text">
    <input type="text" class="form-text" name="word" placeholder="type your word here">
  </div>
  <br>
  <input type="submit" value="Play!" class="btn btn-primary">
</form>

